.Card {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 60px;
  background-color: rgb(121, 250, 200);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0, 25s ease-out;
  margin-left: 80px;
}

.Card:hover {
  transform: scale(1.01);
  box-shadow: 0 12px 16px rgba(0, 0, 0, alpha);
}

.imgcard {
  width: 250px;
  height: 250px;
  border-radius: 10px; /* Ajusta el valor según tus necesidades */
  background-color: #f0f0f0;
}
.name {
  text-align: center;
  color: #02241b;
  font-weight: 600;
}

.weight {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  font-weight: 20px;
  margin-top: 80px;
}

.temperament {
  color: #011d16;
  font-weight: 660;
  text-align: center;
  display: flex;
  padding: 10px;
  margin-top: 75px;
}

.btnenlace {
  color: #011d16;
  font-weight: 660;
  text-align: inherit;
  display: flex;
  padding: 10px;
  margin-top: 75px;
  background-color: blueviolet;
  margin-top: 75px;
}
