.container-temp {
  position: relative;
  top: -84px;
  left: 810px;
  margin-top: 4%;
  display: block;
  text-align: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container-temp h1 {
  padding: 6px 6px;
  font-size: 14px;
  background: #029ca6;
  border-radius: 2px 2px 0 0;
}

.container-temp select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: solid #029ca6;
  border-radius: 2px;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
}
