* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.bodysearch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-search {
  position: relative;
}

.inputsearch {
  width: 350px;
  padding: 10px;
  padding-right: 35px;
  border-radius: 5px 0 0 5px;
  border: 3px solid #3498db;
  outline: none;
  font-size: 1rem;
}

.container-search button {
  background: #fd5353;
  padding: 10px 15px;
  position: absolute;
  border: none;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  color: #ffffff;
  border-radius: 0 1px 1px 0;
  cursor: pointer;
}

.container-search button:hover {
  background: #cf309a;
  transition: 0.5s;
}
