.container-home {
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(233, 251, 253);
}

.searchSortFilterBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 7px;
  border-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.searchSortFilterBar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 8px;
}

.searchSortFilterBar ul li {
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1px 3px;
  color: #f1f1f1;
}

.button {
  border-radius: 12px;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  background: #f54444;
  color: #e7dfdf;
  cursor: pointer;
}

.button:hover {
  background: #ee0202;
  transition: 0.5s;
}
