.buttons-pag {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pageButton {
  position: relative;
  border-radius: 12px 12px 12px 12px;
  width: 30px;
  height: 20px;
  border: none;
  outline: none;
  background: #029ca6;
  color: #f1f1f1;
  cursor: pointer;
}

.pageButton:hover {
  background: #2e6189;
  transition: 0.5s;
}

.pageButtonActive {
  position: relative;
  border-radius: 12px 12px 12px 12px;
  width: 30px;
  height: 20px;
  border: none;
  outline: none;
  background: #2e6189;
  color: #f1f1f1;
}

.buttons-pag .button {
  position: static;
  border-radius: 10px 10px 10px 10px;
  width: 70px;
  height: 20px;
  border: none;
  outline: none;
  background: #029ca6;
  color: #f1f1f1;
  cursor: pointer;
}

button.active {
  border-radius: 12px;
  background: #2e6189;
}

button:disabled {
  opacity: 0.4;
  background-color: gray;
}
